---
export interface Props {
  title: string;
}

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';

import { Image } from '@astrojs/image/components';

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <div class="site-container">
      <Nav />
      <header class="container">
        <Image
          src={content.header_image}
          alt={`screenshot of the ${content.title} project`}
          width={1200}
          format={'webp'}
          aspectRatio={2.15 / 1}
          fit="cover"
        />
        <h1>{content.title}</h1>
        <div class="header__desc">
          <section>
            <h4>Project info</h4>
            <p>Built for: {content.client}</p>
            <p>Work brief: {content.excerpt}</p>
            {
              content.link && (
                <p>
                  Link: <a href={content.link}>see the project</a>
                </p>
              )
            }
          </section>
          <section>
            <h4>Services provided</h4>
            <ul class="tag-list">
              {
                content.tags.map((t: string) => (
                  <li class="tag" data-tag={t}>
                    {t}
                  </li>
                ))
              }
            </ul>
          </section>
        </div>
      </header>
      <div class="container work">
        <slot />
      </div>
      <Footer />
    </div>
    <style lang="scss">
      header {
        border-bottom: 1px solid var(--gray-8);
        img {
          width: 100%;
          height: auto;
        }
      }
      .header__desc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-3);
        @media screen and (max-width: 768px){
          grid-template-columns: 1fr;
          gap: var(--size-1);
        }
      }
      .work {
        line-height: 2em;
      }
      .tag-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: var(--size-3);
        li {
          padding: var(--size-1) var(--size-3);
          background: #505dff;
          color: white;
          display: inline-block;
          border-radius: var(--radius-round);
        }
      }
    </style>
  </body>
</html>
