---
export interface Props {
  title: string;
}

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <div class="site-container">
      <Nav />
      <header class="container">
        <img src={content.header_image} alt={`screenshot of the ${content.title} project`} />
        <h1>{content.title}</h1>
        <small>built for {content.client}</small>
        <p>{content.excerpt}</p>
      </header>
      <div class="container work">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>

<style lang="scss">
  header {
    img {
      width: 100%;
      height: auto;
    }
  }
  .work {
    line-height: 2em;
  }
</style>